### CHAPTER 11
# Time Series

In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.__version__

'2.3.3'

## 11.1 Date and Time Data Types and Tools

In [3]:
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2026, 1, 5, 14, 54, 59, 766385)

In [4]:
now.year, now.month, now.day, now.hour, now.minute, now.second

(2026, 1, 5, 14, 54, 59)

In [5]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(days=926, seconds=56700)

In [6]:
delta.days

926

In [7]:
delta.seconds

56700

In [8]:
from datetime import timedelta
start = datetime(2011, 1, 7)
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [9]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

### Converting Between String and Datetime

In [10]:
stamp = datetime(2011, 1, 3)
str(stamp)

'2011-01-03 00:00:00'

In [11]:
stamp.strftime("%Y-%m-%d")

'2011-01-03'

In [12]:
value = '2011-01-03'
datetime.strptime(value, "%Y-%m-%d")

datetime.datetime(2011, 1, 3, 0, 0)

In [13]:
datestrs = ["2011-07-06 12:00:00", "2011-08-06 00:00:00"]
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [14]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [15]:
idx[2]

NaT

In [16]:
pd.isna(idx)

array([False, False,  True])

## 11.2 Time Series Basics

In [17]:
data = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011, 1, 7),
        datetime(2011, 1, 8), datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [18]:
ts = pd.Series(np.random.standard_normal(6), index=data)
ts

2011-01-02   -1.831026
2011-01-05    0.115316
2011-01-07    1.429345
2011-01-08   -1.182522
2011-01-10    0.101078
2011-01-12   -0.416492
dtype: float64

In [19]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [20]:
ts + ts[::2]

2011-01-02   -3.662053
2011-01-05         NaN
2011-01-07    2.858690
2011-01-08         NaN
2011-01-10    0.202157
2011-01-12         NaN
dtype: float64

In [21]:
ts.index.dtype

dtype('<M8[ns]')

In [22]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

### Indexing, Selection, Subsetting

In [23]:
stamp = ts.index[2]
ts[stamp]

np.float64(1.429344941684805)

In [24]:
ts["2011-01-10"]

np.float64(0.10107837531736266)

In [25]:
longer_ts = pd.Series(np.random.standard_normal(1000),
                      index=pd.date_range("2000-01-01", periods=1000))
longer_ts

2000-01-01   -0.184090
2000-01-02    1.517640
2000-01-03    0.080654
2000-01-04    0.286934
2000-01-05   -1.830942
                ...
2002-09-22    0.265744
2002-09-23    0.181055
2002-09-24   -1.166278
2002-09-25   -1.002412
2002-09-26   -0.627811
Freq: D, Length: 1000, dtype: float64

In [26]:
longer_ts["2001"]

2001-01-01    0.666033
2001-01-02   -0.354438
2001-01-03   -0.635508
2001-01-04   -0.629438
2001-01-05    0.411349
                ...
2001-12-27    0.380566
2001-12-28    0.162737
2001-12-29    0.075870
2001-12-30   -1.675213
2001-12-31    0.636897
Freq: D, Length: 365, dtype: float64

In [27]:
longer_ts["2001-05"]

2001-05-01   -0.210907
2001-05-02   -0.839339
2001-05-03   -0.364690
2001-05-04    0.722081
2001-05-05    1.198849
2001-05-06    0.627726
2001-05-07   -0.296600
2001-05-08   -1.085616
2001-05-09    2.165251
2001-05-10   -0.333340
2001-05-11   -0.947499
2001-05-12   -0.194490
2001-05-13   -0.687185
2001-05-14    0.103231
2001-05-15    0.784476
2001-05-16   -1.308384
2001-05-17    0.395345
2001-05-18    0.562295
2001-05-19   -0.833530
2001-05-20    1.129981
2001-05-21    0.164854
2001-05-22   -1.156673
2001-05-23    0.472479
2001-05-24    0.557064
2001-05-25   -0.157108
2001-05-26    0.900207
2001-05-27    0.482883
2001-05-28    0.541904
2001-05-29   -1.287254
2001-05-30   -0.846479
2001-05-31    0.929351
Freq: D, dtype: float64

In [28]:
ts[datetime(2011, 1, 7):datetime(2011, 1, 10)]

2011-01-07    1.429345
2011-01-08   -1.182522
2011-01-10    0.101078
dtype: float64

In [29]:
ts

2011-01-02   -1.831026
2011-01-05    0.115316
2011-01-07    1.429345
2011-01-08   -1.182522
2011-01-10    0.101078
2011-01-12   -0.416492
dtype: float64

In [30]:
ts["2011-01-06":"2011-01-11"]

2011-01-07    1.429345
2011-01-08   -1.182522
2011-01-10    0.101078
dtype: float64

In [31]:
ts.truncate(after="2011-01-09")

2011-01-02   -1.831026
2011-01-05    0.115316
2011-01-07    1.429345
2011-01-08   -1.182522
dtype: float64

In [32]:
ts

2011-01-02   -1.831026
2011-01-05    0.115316
2011-01-07    1.429345
2011-01-08   -1.182522
2011-01-10    0.101078
2011-01-12   -0.416492
dtype: float64

In [33]:
dates = pd.date_range("2000-01-01", periods=100, freq="W-WED")
long_df = pd.DataFrame(np.random.standard_normal((100, 4)),
                       index=dates,
                       columns=["Colorado", "Texas", "New York", "Ohio"])
long_df.loc["2001-05"]

            Colorado     Texas  New York      Ohio
2001-05-02 -1.275319  0.280728 -1.128844 -1.378920
2001-05-09 -1.950329 -1.044784 -1.147609  0.936503
2001-05-16  0.686365 -0.726061 -1.699998 -1.394858
2001-05-23 -1.094279  0.921302  1.470068  0.611237
2001-05-30  0.983899  2.339795  0.560155 -0.446135

### Time Series with Duplicate Indices

In [34]:
dates = pd.DatetimeIndex(["2000-01-01", "2000-01-02", "2000-01-02",
                          "2000-01-02", "2000-01-03"])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [35]:
dup_ts.index.is_unique

False

In [36]:
dup_ts["2000-01-03"]

np.int64(4)

In [37]:
dup_ts["2000-01-02"]

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [38]:
grouped = dup_ts.groupby(level=0)
grouped.mean()

2000-01-01    0.0
2000-01-02    2.0
2000-01-03    4.0
dtype: float64

In [39]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

## 11.3 Date Ranges, Frequencies, and Shifting

In [40]:
ts

2011-01-02   -1.831026
2011-01-05    0.115316
2011-01-07    1.429345
2011-01-08   -1.182522
2011-01-10    0.101078
2011-01-12   -0.416492
dtype: float64

In [41]:
resampler = ts.resample("D")  # The string "D" is interpreted as daily frequency.
resampler

In [42]:
resampler.mean()

2011-01-02   -1.831026
2011-01-03         NaN
2011-01-04         NaN
2011-01-05    0.115316
2011-01-06         NaN
2011-01-07    1.429345
2011-01-08   -1.182522
2011-01-09         NaN
2011-01-10    0.101078
2011-01-11         NaN
2011-01-12   -0.416492
Freq: D, dtype: float64

### Generating Date Ranges

In [43]:
index = pd.date_range("2012-04-01", "2012-06-01")
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [44]:
pd.date_range(start="2012-04-01", periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [45]:
pd.date_range(end="2012-06-01", periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [46]:
pd.date_range("2000-01-01", "2000-12-01", freq="BM")  # Business month end frequency

C:\Users\sahor\AppData\Local\Temp\ipykernel_20028\2781953853.py:1: FutureWarning: 'BM' is deprecated and will be removed in a future version, please use 'BME' instead.
  pd.date_range("2000-01-01", "2000-12-01", freq="BM")  # Business month end frequency

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BME')

In [47]:
pd.date_range("2012-05-02 12:56:31", periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [48]:
pd.date_range("2012-05-02 12:56:31", periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

### Frequencies and Date Offsets

In [50]:
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
hour

In [51]:
four_hours = Hour(4)
four_hours

In [52]:
pd.date_range("2000- 01-01", "2000-01-03 23:59", freq="4H")

C:\Users\sahor\AppData\Local\Temp\ipykernel_20028\3173807497.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  pd.date_range("2000- 01-01", "2000-01-03 23:59", freq="4H")

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4h')

In [53]:
Hour(2) + Minute(30)

In [54]:
pd.date_range("2000-01-01", periods=10, freq="1h30min")

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90min')

#### Week of month dates

In [56]:
monthly_dates = pd.date_range("2012-01-01", "2012-09-01", freq="WOM-3FRI")
list(monthly_dates)

[Timestamp('2012-01-20 00:00:00'),
 Timestamp('2012-02-17 00:00:00'),
 Timestamp('2012-03-16 00:00:00'),
 Timestamp('2012-04-20 00:00:00'),
 Timestamp('2012-05-18 00:00:00'),
 Timestamp('2012-06-15 00:00:00'),
 Timestamp('2012-07-20 00:00:00'),
 Timestamp('2012-08-17 00:00:00')]