### CHAPTER 11
# Time Series

In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.__version__

'2.3.3'

## 11.1 Date and Time Data Types and Tools

In [3]:
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2026, 1, 5, 17, 52, 18, 123448)

In [4]:
now.year, now.month, now.day, now.hour, now.minute, now.second

(2026, 1, 5, 17, 52, 18)

In [5]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(days=926, seconds=56700)

In [6]:
delta.days

926

In [7]:
delta.seconds

56700

In [8]:
from datetime import timedelta
start = datetime(2011, 1, 7)
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [9]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

### Converting Between String and Datetime

In [10]:
stamp = datetime(2011, 1, 3)
str(stamp)

'2011-01-03 00:00:00'

In [11]:
stamp.strftime("%Y-%m-%d")

'2011-01-03'

In [12]:
value = '2011-01-03'
datetime.strptime(value, "%Y-%m-%d")

datetime.datetime(2011, 1, 3, 0, 0)

In [13]:
datestrs = ["2011-07-06 12:00:00", "2011-08-06 00:00:00"]
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [14]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [15]:
idx[2]

NaT

In [16]:
pd.isna(idx)

array([False, False,  True])

## 11.2 Time Series Basics

In [17]:
data = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011, 1, 7),
        datetime(2011, 1, 8), datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [18]:
ts = pd.Series(np.random.standard_normal(6), index=data)
ts

2011-01-02   -1.372331
2011-01-05   -0.010512
2011-01-07    0.236982
2011-01-08   -0.985333
2011-01-10   -1.177532
2011-01-12   -0.966511
dtype: float64

In [19]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [20]:
ts + ts[::2]

2011-01-02   -2.744663
2011-01-05         NaN
2011-01-07    0.473965
2011-01-08         NaN
2011-01-10   -2.355065
2011-01-12         NaN
dtype: float64

In [21]:
ts.index.dtype

dtype('<M8[ns]')

In [22]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

### Indexing, Selection, Subsetting

In [23]:
stamp = ts.index[2]
ts[stamp]

np.float64(0.2369823259807003)

In [24]:
ts["2011-01-10"]

np.float64(-1.1775323419965988)

In [25]:
longer_ts = pd.Series(np.random.standard_normal(1000),
                      index=pd.date_range("2000-01-01", periods=1000))
longer_ts

2000-01-01    0.464982
2000-01-02    0.592182
2000-01-03   -0.303751
2000-01-04   -0.137105
2000-01-05    1.461854
                ...
2002-09-22    0.100919
2002-09-23   -1.380305
2002-09-24   -0.102620
2002-09-25   -1.728332
2002-09-26    1.008324
Freq: D, Length: 1000, dtype: float64

In [26]:
longer_ts["2001"]

2001-01-01    0.128928
2001-01-02    0.489321
2001-01-03    1.115791
2001-01-04   -0.920851
2001-01-05   -1.402013
                ...
2001-12-27    0.958549
2001-12-28   -1.061944
2001-12-29   -0.306484
2001-12-30   -0.896650
2001-12-31   -0.478944
Freq: D, Length: 365, dtype: float64

In [27]:
longer_ts["2001-05"]

2001-05-01    0.837990
2001-05-02    1.324913
2001-05-03    0.315291
2001-05-04    1.042896
2001-05-05   -1.815147
2001-05-06    0.107088
2001-05-07    0.376731
2001-05-08    2.466271
2001-05-09   -1.430188
2001-05-10    1.194221
2001-05-11   -1.811209
2001-05-12    1.127686
2001-05-13   -1.065782
2001-05-14    1.720648
2001-05-15    0.126045
2001-05-16   -2.945567
2001-05-17    0.447863
2001-05-18   -1.638663
2001-05-19   -0.477021
2001-05-20    0.758317
2001-05-21    0.439425
2001-05-22   -0.659695
2001-05-23   -1.363737
2001-05-24    1.014529
2001-05-25   -2.169347
2001-05-26   -0.267987
2001-05-27   -1.004736
2001-05-28    1.044112
2001-05-29    1.070218
2001-05-30   -0.061644
2001-05-31    0.006246
Freq: D, dtype: float64

In [28]:
ts[datetime(2011, 1, 7):datetime(2011, 1, 10)]

2011-01-07    0.236982
2011-01-08   -0.985333
2011-01-10   -1.177532
dtype: float64

In [29]:
ts

2011-01-02   -1.372331
2011-01-05   -0.010512
2011-01-07    0.236982
2011-01-08   -0.985333
2011-01-10   -1.177532
2011-01-12   -0.966511
dtype: float64

In [30]:
ts["2011-01-06":"2011-01-11"]

2011-01-07    0.236982
2011-01-08   -0.985333
2011-01-10   -1.177532
dtype: float64

In [31]:
ts.truncate(after="2011-01-09")

2011-01-02   -1.372331
2011-01-05   -0.010512
2011-01-07    0.236982
2011-01-08   -0.985333
dtype: float64

In [32]:
ts

2011-01-02   -1.372331
2011-01-05   -0.010512
2011-01-07    0.236982
2011-01-08   -0.985333
2011-01-10   -1.177532
2011-01-12   -0.966511
dtype: float64

In [33]:
dates = pd.date_range("2000-01-01", periods=100, freq="W-WED")
long_df = pd.DataFrame(np.random.standard_normal((100, 4)),
                       index=dates,
                       columns=["Colorado", "Texas", "New York", "Ohio"])
long_df.loc["2001-05"]

            Colorado     Texas  New York      Ohio
2001-05-02  0.146000 -0.029483  0.077782 -0.808812
2001-05-09 -0.256754 -1.071629 -0.161718  0.204104
2001-05-16  0.086052  1.127418  0.605977 -2.313056
2001-05-23  1.853815 -0.234176  2.287382 -0.088055
2001-05-30 -0.298697 -0.108091 -0.422054 -0.622611

### Time Series with Duplicate Indices

In [34]:
dates = pd.DatetimeIndex(["2000-01-01", "2000-01-02", "2000-01-02",
                          "2000-01-02", "2000-01-03"])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [35]:
dup_ts.index.is_unique

False

In [36]:
dup_ts["2000-01-03"]

np.int64(4)

In [37]:
dup_ts["2000-01-02"]

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [38]:
grouped = dup_ts.groupby(level=0)
grouped.mean()

2000-01-01    0.0
2000-01-02    2.0
2000-01-03    4.0
dtype: float64

In [39]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

## 11.3 Date Ranges, Frequencies, and Shifting

In [40]:
ts

2011-01-02   -1.372331
2011-01-05   -0.010512
2011-01-07    0.236982
2011-01-08   -0.985333
2011-01-10   -1.177532
2011-01-12   -0.966511
dtype: float64

In [41]:
resampler = ts.resample("D")  # The string "D" is interpreted as daily frequency.
resampler

In [42]:
resampler.mean()

2011-01-02   -1.372331
2011-01-03         NaN
2011-01-04         NaN
2011-01-05   -0.010512
2011-01-06         NaN
2011-01-07    0.236982
2011-01-08   -0.985333
2011-01-09         NaN
2011-01-10   -1.177532
2011-01-11         NaN
2011-01-12   -0.966511
Freq: D, dtype: float64

### Generating Date Ranges

In [43]:
index = pd.date_range("2012-04-01", "2012-06-01")
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [44]:
pd.date_range(start="2012-04-01", periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [45]:
pd.date_range(end="2012-06-01", periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [46]:
pd.date_range("2000-01-01", "2000-12-01", freq="BM")  # Business month end frequency

C:\Users\sahor\AppData\Local\Temp\ipykernel_19904\2781953853.py:1: FutureWarning: 'BM' is deprecated and will be removed in a future version, please use 'BME' instead.
  pd.date_range("2000-01-01", "2000-12-01", freq="BM")  # Business month end frequency

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BME')

In [47]:
pd.date_range("2012-05-02 12:56:31", periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [48]:
pd.date_range("2012-05-02 12:56:31", periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

### Frequencies and Date Offsets

In [49]:
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
hour

In [50]:
four_hours = Hour(4)
four_hours

In [51]:
pd.date_range("2000- 01-01", "2000-01-03 23:59", freq="4H")

C:\Users\sahor\AppData\Local\Temp\ipykernel_19904\3173807497.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  pd.date_range("2000- 01-01", "2000-01-03 23:59", freq="4H")

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4h')

In [52]:
Hour(2) + Minute(30)

In [53]:
pd.date_range("2000-01-01", periods=10, freq="1h30min")

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90min')

#### Week of month dates

In [54]:
monthly_dates = pd.date_range("2012-01-01", "2012-09-01", freq="WOM-3FRI")
list(monthly_dates)

[Timestamp('2012-01-20 00:00:00'),
 Timestamp('2012-02-17 00:00:00'),
 Timestamp('2012-03-16 00:00:00'),
 Timestamp('2012-04-20 00:00:00'),
 Timestamp('2012-05-18 00:00:00'),
 Timestamp('2012-06-15 00:00:00'),
 Timestamp('2012-07-20 00:00:00'),
 Timestamp('2012-08-17 00:00:00')]

### Shifting (Leading and Lagging) Data

In [55]:
ts = pd.Series(np.random.standard_normal(4),
               index=pd.date_range("2000-01-01", periods=4, freq="ME"))
ts

2000-01-31   -0.489874
2000-02-29    0.328019
2000-03-31    0.919739
2000-04-30   -0.948704
Freq: ME, dtype: float64

In [56]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -0.489874
2000-04-30    0.328019
Freq: ME, dtype: float64

In [57]:
ts.shift(-2)

2000-01-31    0.919739
2000-02-29   -0.948704
2000-03-31         NaN
2000-04-30         NaN
Freq: ME, dtype: float64

In [58]:
ts

2000-01-31   -0.489874
2000-02-29    0.328019
2000-03-31    0.919739
2000-04-30   -0.948704
Freq: ME, dtype: float64

In [59]:
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29   -1.669598
2000-03-31    1.803923
2000-04-30   -2.031492
Freq: ME, dtype: float64

In [60]:
ts.shift(2, freq="ME")

2000-03-31   -0.489874
2000-04-30    0.328019
2000-05-31    0.919739
2000-06-30   -0.948704
Freq: ME, dtype: float64

In [61]:
ts.shift(3, freq="D")

2000-02-03   -0.489874
2000-03-03    0.328019
2000-04-03    0.919739
2000-05-03   -0.948704
dtype: float64

In [62]:
ts.shift(1, freq="90min")

2000-01-31 01:30:00   -0.489874
2000-02-29 01:30:00    0.328019
2000-03-31 01:30:00    0.919739
2000-04-30 01:30:00   -0.948704
dtype: float64

### Shifting dates with offsets

In [63]:
from pandas.tseries.offsets import Day, MonthEnd
now = datetime(2011, 11, 17)
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [64]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [65]:
offset = MonthEnd()
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [66]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [67]:
ts = pd.Series(np.random.standard_normal(20),
               index=pd.date_range("2000-01-15", periods=20, freq="4D"))
ts

2000-01-15   -0.037667
2000-01-19    1.283101
2000-01-23    0.914133
2000-01-27   -0.963652
2000-01-31   -1.212872
2000-02-04    1.116507
2000-02-08    1.418867
2000-02-12    0.599801
2000-02-16    0.291904
2000-02-20   -0.236692
2000-02-24    0.966386
2000-02-28   -1.540205
2000-03-03   -0.021082
2000-03-07    1.624638
2000-03-11    0.940599
2000-03-15    1.767422
2000-03-19   -1.533164
2000-03-23    0.118528
2000-03-27    0.741116
2000-03-31    0.226409
Freq: 4D, dtype: float64

In [68]:
ts.groupby(MonthEnd().rollforward).mean()

2000-01-31   -0.003392
2000-02-29    0.373795
2000-03-31    0.483058
dtype: float64

## 11.4 Time Zone Handling

In [69]:
import pytz
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [70]:
tz = pytz.timezone("Asia/Dhaka")
tz

### Time Zone Localization and Conversion

In [71]:
dates = pd.date_range("2012-03-09 09:30", periods=6)
ts = pd.Series(np.random.standard_normal(len(dates)), index=dates)
ts

2012-03-09 09:30:00   -1.685218
2012-03-10 09:30:00   -0.878084
2012-03-11 09:30:00    0.010179
2012-03-12 09:30:00    1.416446
2012-03-13 09:30:00    0.680013
2012-03-14 09:30:00   -0.463109
Freq: D, dtype: float64

In [72]:
print(ts.index.tz)

None

In [73]:
pd.date_range("2012-03-09 09:30", periods=10, tz="Asia/Dhaka")

DatetimeIndex(['2012-03-09 09:30:00+06:00', '2012-03-10 09:30:00+06:00',
               '2012-03-11 09:30:00+06:00', '2012-03-12 09:30:00+06:00',
               '2012-03-13 09:30:00+06:00', '2012-03-14 09:30:00+06:00',
               '2012-03-15 09:30:00+06:00', '2012-03-16 09:30:00+06:00',
               '2012-03-17 09:30:00+06:00', '2012-03-18 09:30:00+06:00'],
              dtype='datetime64[ns, Asia/Dhaka]', freq='D')

In [74]:
ts

2012-03-09 09:30:00   -1.685218
2012-03-10 09:30:00   -0.878084
2012-03-11 09:30:00    0.010179
2012-03-12 09:30:00    1.416446
2012-03-13 09:30:00    0.680013
2012-03-14 09:30:00   -0.463109
Freq: D, dtype: float64

In [75]:
ts_utc = ts.tz_localize("UTC")
ts_utc

2012-03-09 09:30:00+00:00   -1.685218
2012-03-10 09:30:00+00:00   -0.878084
2012-03-11 09:30:00+00:00    0.010179
2012-03-12 09:30:00+00:00    1.416446
2012-03-13 09:30:00+00:00    0.680013
2012-03-14 09:30:00+00:00   -0.463109
Freq: D, dtype: float64

In [76]:
ts_dhaka = ts.tz_localize("Asia/Dhaka")
ts_dhaka

2012-03-09 09:30:00+06:00   -1.685218
2012-03-10 09:30:00+06:00   -0.878084
2012-03-11 09:30:00+06:00    0.010179
2012-03-12 09:30:00+06:00    1.416446
2012-03-13 09:30:00+06:00    0.680013
2012-03-14 09:30:00+06:00   -0.463109
dtype: float64

In [77]:
ts_dhaka.index

DatetimeIndex(['2012-03-09 09:30:00+06:00', '2012-03-10 09:30:00+06:00',
               '2012-03-11 09:30:00+06:00', '2012-03-12 09:30:00+06:00',
               '2012-03-13 09:30:00+06:00', '2012-03-14 09:30:00+06:00'],
              dtype='datetime64[ns, Asia/Dhaka]', freq=None)

In [78]:
ts_kolkata = ts_dhaka.tz_convert("Asia/Kolkata")
ts_kolkata

2012-03-09 09:00:00+05:30   -1.685218
2012-03-10 09:00:00+05:30   -0.878084
2012-03-11 09:00:00+05:30    0.010179
2012-03-12 09:00:00+05:30    1.416446
2012-03-13 09:00:00+05:30    0.680013
2012-03-14 09:00:00+05:30   -0.463109
dtype: float64

### Operations with Time Zone-Aware Timestamp Objects

In [79]:
stamp = pd.Timestamp("2011-03-12 04:00")
stamp_utc = stamp.tz_localize("UTC")
stamp_utc.tz_convert("Asia/Dhaka")

Timestamp('2011-03-12 10:00:00+0600', tz='Asia/Dhaka')

In [80]:
stamp_moscow = pd.Timestamp("2011-03-12 04:00", tz="Europe/Moscow")
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [81]:
stamp_utc.value

1299902400000000000

In [82]:
stamp_utc.tz_convert("America/New_York").value

1299902400000000000

### Operations Between Different Time Zones

In [84]:
dates = pd.date_range("2012-03-07 09:30", periods=10, freq="B")
ts = pd.Series(np.random.standard_normal(len(dates)), index=dates)
ts

2012-03-07 09:30:00    0.923030
2012-03-08 09:30:00   -0.058194
2012-03-09 09:30:00   -2.483872
2012-03-12 09:30:00   -0.033614
2012-03-13 09:30:00    0.015002
2012-03-14 09:30:00    0.083562
2012-03-15 09:30:00    1.773684
2012-03-16 09:30:00   -0.310017
2012-03-19 09:30:00   -1.054258
2012-03-20 09:30:00   -0.988078
Freq: B, dtype: float64

In [85]:
ts1 = ts[:7].tz_localize("Asia/Dhaka")
ts2 = ts1[2:].tz_convert("Europe/Moscow")
result = ts1 + ts2
result.index

DatetimeIndex(['2012-03-07 03:30:00+00:00', '2012-03-08 03:30:00+00:00',
               '2012-03-09 03:30:00+00:00', '2012-03-12 03:30:00+00:00',
               '2012-03-13 03:30:00+00:00', '2012-03-14 03:30:00+00:00',
               '2012-03-15 03:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

## 11.5 Periods and Period Arithmetic

In [88]:
p = pd.Period("2011", "Y-DEC")
p

Period('2011', 'Y-DEC')

In [89]:
p + 5

Period('2016', 'Y-DEC')

In [90]:
p - 2

Period('2009', 'Y-DEC')

In [94]:
pd.Period("2014", freq="Y-DEC") - p

In [95]:
periods = pd.period_range("2000-01-01", "2000-06-30", freq="M")
periods

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]')

In [96]:
pd.Series(np.random.standard_normal(6), index=periods)

2000-01   -1.019487
2000-02   -1.415078
2000-03   -0.208412
2000-04   -1.348452
2000-05    0.051877
2000-06    0.919733
Freq: M, dtype: float64

In [97]:
values = ["2001Q3", "2002Q2", "2003Q1"]
index = pd.PeriodIndex(values, freq="Q-DEC")
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]')