### CHAPTER 11
# Time Series

In [105]:
import numpy as np
import pandas as pd

In [106]:
pd.__version__

'2.3.3'

## 11.1 Date and Time Data Types and Tools

In [107]:
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2026, 1, 5, 18, 31, 43, 151433)

In [108]:
now.year, now.month, now.day, now.hour, now.minute, now.second

(2026, 1, 5, 18, 31, 43)

In [109]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(days=926, seconds=56700)

In [110]:
delta.days

926

In [111]:
delta.seconds

56700

In [112]:
from datetime import timedelta
start = datetime(2011, 1, 7)
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [113]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

### Converting Between String and Datetime

In [114]:
stamp = datetime(2011, 1, 3)
str(stamp)

'2011-01-03 00:00:00'

In [115]:
stamp.strftime("%Y-%m-%d")

'2011-01-03'

In [116]:
value = '2011-01-03'
datetime.strptime(value, "%Y-%m-%d")

datetime.datetime(2011, 1, 3, 0, 0)

In [117]:
datestrs = ["2011-07-06 12:00:00", "2011-08-06 00:00:00"]
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [118]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [119]:
idx[2]

NaT

In [120]:
pd.isna(idx)

array([False, False,  True])

## 11.2 Time Series Basics

In [121]:
data = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011, 1, 7),
        datetime(2011, 1, 8), datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [122]:
ts = pd.Series(np.random.standard_normal(6), index=data)
ts

2011-01-02   -0.136239
2011-01-05    1.876186
2011-01-07    0.316173
2011-01-08   -0.258509
2011-01-10    0.487449
2011-01-12    2.433848
dtype: float64

In [123]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [124]:
ts + ts[::2]

2011-01-02   -0.272477
2011-01-05         NaN
2011-01-07    0.632345
2011-01-08         NaN
2011-01-10    0.974897
2011-01-12         NaN
dtype: float64

In [125]:
ts.index.dtype

dtype('<M8[ns]')

In [126]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

### Indexing, Selection, Subsetting

In [127]:
stamp = ts.index[2]
ts[stamp]

np.float64(0.3161725917856943)

In [128]:
ts["2011-01-10"]

np.float64(0.48744857095898675)

In [129]:
longer_ts = pd.Series(np.random.standard_normal(1000),
                      index=pd.date_range("2000-01-01", periods=1000))
longer_ts

2000-01-01    0.816335
2000-01-02   -1.591403
2000-01-03   -0.940755
2000-01-04   -0.235527
2000-01-05   -0.203867
                ...
2002-09-22   -0.229243
2002-09-23   -0.536713
2002-09-24    2.187903
2002-09-25   -1.633142
2002-09-26    0.979207
Freq: D, Length: 1000, dtype: float64

In [130]:
longer_ts["2001"]

2001-01-01    1.061713
2001-01-02    0.137659
2001-01-03    0.470112
2001-01-04    1.344635
2001-01-05   -0.379754
                ...
2001-12-27   -0.645210
2001-12-28   -0.963147
2001-12-29   -0.798249
2001-12-30    0.878156
2001-12-31   -1.382496
Freq: D, Length: 365, dtype: float64

In [131]:
longer_ts["2001-05"]

2001-05-01   -0.179711
2001-05-02    1.434046
2001-05-03   -0.557351
2001-05-04    1.265753
2001-05-05   -0.170052
2001-05-06   -0.420927
2001-05-07   -1.513014
2001-05-08   -0.578398
2001-05-09    0.479359
2001-05-10   -0.429385
2001-05-11   -0.180511
2001-05-12    0.250510
2001-05-13    0.134175
2001-05-14   -0.097035
2001-05-15    0.137437
2001-05-16    0.597776
2001-05-17   -1.302267
2001-05-18   -0.405416
2001-05-19    0.782025
2001-05-20    0.650542
2001-05-21   -0.198219
2001-05-22   -1.563220
2001-05-23    0.057094
2001-05-24   -0.897073
2001-05-25    0.089534
2001-05-26    0.228113
2001-05-27    0.477864
2001-05-28   -1.000172
2001-05-29   -0.087998
2001-05-30   -0.166124
2001-05-31    0.197400
Freq: D, dtype: float64

In [132]:
ts[datetime(2011, 1, 7):datetime(2011, 1, 10)]

2011-01-07    0.316173
2011-01-08   -0.258509
2011-01-10    0.487449
dtype: float64

In [133]:
ts

2011-01-02   -0.136239
2011-01-05    1.876186
2011-01-07    0.316173
2011-01-08   -0.258509
2011-01-10    0.487449
2011-01-12    2.433848
dtype: float64

In [134]:
ts["2011-01-06":"2011-01-11"]

2011-01-07    0.316173
2011-01-08   -0.258509
2011-01-10    0.487449
dtype: float64

In [135]:
ts.truncate(after="2011-01-09")

2011-01-02   -0.136239
2011-01-05    1.876186
2011-01-07    0.316173
2011-01-08   -0.258509
dtype: float64

In [136]:
ts

2011-01-02   -0.136239
2011-01-05    1.876186
2011-01-07    0.316173
2011-01-08   -0.258509
2011-01-10    0.487449
2011-01-12    2.433848
dtype: float64

In [137]:
dates = pd.date_range("2000-01-01", periods=100, freq="W-WED")
long_df = pd.DataFrame(np.random.standard_normal((100, 4)),
                       index=dates,
                       columns=["Colorado", "Texas", "New York", "Ohio"])
long_df.loc["2001-05"]

            Colorado     Texas  New York      Ohio
2001-05-02 -0.636852 -0.581515 -1.080870  0.169548
2001-05-09 -0.974487  0.287177  0.837418  0.137084
2001-05-16 -1.964550 -0.268859  0.554213 -1.315984
2001-05-23 -0.345869  0.106285  0.127487 -0.241587
2001-05-30  0.580788 -1.769521 -0.589642  0.761745

### Time Series with Duplicate Indices

In [138]:
dates = pd.DatetimeIndex(["2000-01-01", "2000-01-02", "2000-01-02",
                          "2000-01-02", "2000-01-03"])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [139]:
dup_ts.index.is_unique

False

In [140]:
dup_ts["2000-01-03"]

np.int64(4)

In [141]:
dup_ts["2000-01-02"]

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [142]:
grouped = dup_ts.groupby(level=0)
grouped.mean()

2000-01-01    0.0
2000-01-02    2.0
2000-01-03    4.0
dtype: float64

In [143]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

## 11.3 Date Ranges, Frequencies, and Shifting

In [144]:
ts

2011-01-02   -0.136239
2011-01-05    1.876186
2011-01-07    0.316173
2011-01-08   -0.258509
2011-01-10    0.487449
2011-01-12    2.433848
dtype: float64

In [145]:
resampler = ts.resample("D")  # The string "D" is interpreted as daily frequency.
resampler

In [146]:
resampler.mean()

2011-01-02   -0.136239
2011-01-03         NaN
2011-01-04         NaN
2011-01-05    1.876186
2011-01-06         NaN
2011-01-07    0.316173
2011-01-08   -0.258509
2011-01-09         NaN
2011-01-10    0.487449
2011-01-11         NaN
2011-01-12    2.433848
Freq: D, dtype: float64

### Generating Date Ranges

In [147]:
index = pd.date_range("2012-04-01", "2012-06-01")
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [148]:
pd.date_range(start="2012-04-01", periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [149]:
pd.date_range(end="2012-06-01", periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [150]:
pd.date_range("2000-01-01", "2000-12-01", freq="BM")  # Business month end frequency

C:\Users\sahor\AppData\Local\Temp\ipykernel_19904\2781953853.py:1: FutureWarning: 'BM' is deprecated and will be removed in a future version, please use 'BME' instead.
  pd.date_range("2000-01-01", "2000-12-01", freq="BM")  # Business month end frequency

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BME')

In [151]:
pd.date_range("2012-05-02 12:56:31", periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [152]:
pd.date_range("2012-05-02 12:56:31", periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

### Frequencies and Date Offsets

In [153]:
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
hour

In [154]:
four_hours = Hour(4)
four_hours

In [155]:
pd.date_range("2000- 01-01", "2000-01-03 23:59", freq="4H")

C:\Users\sahor\AppData\Local\Temp\ipykernel_19904\3173807497.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  pd.date_range("2000- 01-01", "2000-01-03 23:59", freq="4H")

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4h')

In [156]:
Hour(2) + Minute(30)

In [157]:
pd.date_range("2000-01-01", periods=10, freq="1h30min")

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90min')

#### Week of month dates

In [158]:
monthly_dates = pd.date_range("2012-01-01", "2012-09-01", freq="WOM-3FRI")
list(monthly_dates)

[Timestamp('2012-01-20 00:00:00'),
 Timestamp('2012-02-17 00:00:00'),
 Timestamp('2012-03-16 00:00:00'),
 Timestamp('2012-04-20 00:00:00'),
 Timestamp('2012-05-18 00:00:00'),
 Timestamp('2012-06-15 00:00:00'),
 Timestamp('2012-07-20 00:00:00'),
 Timestamp('2012-08-17 00:00:00')]

### Shifting (Leading and Lagging) Data

In [159]:
ts = pd.Series(np.random.standard_normal(4),
               index=pd.date_range("2000-01-01", periods=4, freq="ME"))
ts

2000-01-31    0.064777
2000-02-29    0.499461
2000-03-31   -0.257170
2000-04-30    0.112268
Freq: ME, dtype: float64

In [160]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.064777
2000-04-30    0.499461
Freq: ME, dtype: float64

In [161]:
ts.shift(-2)

2000-01-31   -0.257170
2000-02-29    0.112268
2000-03-31         NaN
2000-04-30         NaN
Freq: ME, dtype: float64

In [162]:
ts

2000-01-31    0.064777
2000-02-29    0.499461
2000-03-31   -0.257170
2000-04-30    0.112268
Freq: ME, dtype: float64

In [163]:
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29    6.710487
2000-03-31   -1.514894
2000-04-30   -1.436552
Freq: ME, dtype: float64

In [164]:
ts.shift(2, freq="ME")

2000-03-31    0.064777
2000-04-30    0.499461
2000-05-31   -0.257170
2000-06-30    0.112268
Freq: ME, dtype: float64

In [165]:
ts.shift(3, freq="D")

2000-02-03    0.064777
2000-03-03    0.499461
2000-04-03   -0.257170
2000-05-03    0.112268
dtype: float64

In [166]:
ts.shift(1, freq="90min")

2000-01-31 01:30:00    0.064777
2000-02-29 01:30:00    0.499461
2000-03-31 01:30:00   -0.257170
2000-04-30 01:30:00    0.112268
dtype: float64

### Shifting dates with offsets

In [167]:
from pandas.tseries.offsets import Day, MonthEnd
now = datetime(2011, 11, 17)
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [168]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [169]:
offset = MonthEnd()
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [170]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [171]:
ts = pd.Series(np.random.standard_normal(20),
               index=pd.date_range("2000-01-15", periods=20, freq="4D"))
ts

2000-01-15   -2.253926
2000-01-19   -0.061051
2000-01-23    0.446144
2000-01-27    0.709385
2000-01-31   -1.383720
2000-02-04    0.753810
2000-02-08   -0.851319
2000-02-12    0.035923
2000-02-16   -1.053847
2000-02-20   -0.598840
2000-02-24   -1.171894
2000-02-28    1.015963
2000-03-03   -0.047024
2000-03-07   -0.391739
2000-03-11    0.289916
2000-03-15   -0.825789
2000-03-19   -0.708191
2000-03-23   -0.064349
2000-03-27   -1.711457
2000-03-31    1.359150
Freq: 4D, dtype: float64

In [172]:
ts.groupby(MonthEnd().rollforward).mean()

2000-01-31   -0.508634
2000-02-29   -0.267172
2000-03-31   -0.262435
dtype: float64

## 11.4 Time Zone Handling

In [173]:
import pytz
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [174]:
tz = pytz.timezone("Asia/Dhaka")
tz

### Time Zone Localization and Conversion

In [175]:
dates = pd.date_range("2012-03-09 09:30", periods=6)
ts = pd.Series(np.random.standard_normal(len(dates)), index=dates)
ts

2012-03-09 09:30:00    2.505285
2012-03-10 09:30:00   -0.678563
2012-03-11 09:30:00   -0.883923
2012-03-12 09:30:00   -0.484229
2012-03-13 09:30:00   -0.020377
2012-03-14 09:30:00    1.049092
Freq: D, dtype: float64

In [176]:
print(ts.index.tz)

None

In [177]:
pd.date_range("2012-03-09 09:30", periods=10, tz="Asia/Dhaka")

DatetimeIndex(['2012-03-09 09:30:00+06:00', '2012-03-10 09:30:00+06:00',
               '2012-03-11 09:30:00+06:00', '2012-03-12 09:30:00+06:00',
               '2012-03-13 09:30:00+06:00', '2012-03-14 09:30:00+06:00',
               '2012-03-15 09:30:00+06:00', '2012-03-16 09:30:00+06:00',
               '2012-03-17 09:30:00+06:00', '2012-03-18 09:30:00+06:00'],
              dtype='datetime64[ns, Asia/Dhaka]', freq='D')

In [178]:
ts

2012-03-09 09:30:00    2.505285
2012-03-10 09:30:00   -0.678563
2012-03-11 09:30:00   -0.883923
2012-03-12 09:30:00   -0.484229
2012-03-13 09:30:00   -0.020377
2012-03-14 09:30:00    1.049092
Freq: D, dtype: float64

In [179]:
ts_utc = ts.tz_localize("UTC")
ts_utc

2012-03-09 09:30:00+00:00    2.505285
2012-03-10 09:30:00+00:00   -0.678563
2012-03-11 09:30:00+00:00   -0.883923
2012-03-12 09:30:00+00:00   -0.484229
2012-03-13 09:30:00+00:00   -0.020377
2012-03-14 09:30:00+00:00    1.049092
Freq: D, dtype: float64

In [180]:
ts_dhaka = ts.tz_localize("Asia/Dhaka")
ts_dhaka

2012-03-09 09:30:00+06:00    2.505285
2012-03-10 09:30:00+06:00   -0.678563
2012-03-11 09:30:00+06:00   -0.883923
2012-03-12 09:30:00+06:00   -0.484229
2012-03-13 09:30:00+06:00   -0.020377
2012-03-14 09:30:00+06:00    1.049092
dtype: float64

In [181]:
ts_dhaka.index

DatetimeIndex(['2012-03-09 09:30:00+06:00', '2012-03-10 09:30:00+06:00',
               '2012-03-11 09:30:00+06:00', '2012-03-12 09:30:00+06:00',
               '2012-03-13 09:30:00+06:00', '2012-03-14 09:30:00+06:00'],
              dtype='datetime64[ns, Asia/Dhaka]', freq=None)

In [182]:
ts_kolkata = ts_dhaka.tz_convert("Asia/Kolkata")
ts_kolkata

2012-03-09 09:00:00+05:30    2.505285
2012-03-10 09:00:00+05:30   -0.678563
2012-03-11 09:00:00+05:30   -0.883923
2012-03-12 09:00:00+05:30   -0.484229
2012-03-13 09:00:00+05:30   -0.020377
2012-03-14 09:00:00+05:30    1.049092
dtype: float64

### Operations with Time Zone-Aware Timestamp Objects

In [183]:
stamp = pd.Timestamp("2011-03-12 04:00")
stamp_utc = stamp.tz_localize("UTC")
stamp_utc.tz_convert("Asia/Dhaka")

Timestamp('2011-03-12 10:00:00+0600', tz='Asia/Dhaka')

In [184]:
stamp_moscow = pd.Timestamp("2011-03-12 04:00", tz="Europe/Moscow")
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [185]:
stamp_utc.value

1299902400000000000

In [186]:
stamp_utc.tz_convert("America/New_York").value

1299902400000000000

### Operations Between Different Time Zones

In [187]:
dates = pd.date_range("2012-03-07 09:30", periods=10, freq="B")
ts = pd.Series(np.random.standard_normal(len(dates)), index=dates)
ts

2012-03-07 09:30:00   -0.355272
2012-03-08 09:30:00   -1.450921
2012-03-09 09:30:00    0.581301
2012-03-12 09:30:00    0.216888
2012-03-13 09:30:00   -0.007824
2012-03-14 09:30:00   -0.657698
2012-03-15 09:30:00    1.147664
2012-03-16 09:30:00    0.987681
2012-03-19 09:30:00   -0.073665
2012-03-20 09:30:00   -0.518588
Freq: B, dtype: float64

In [188]:
ts1 = ts[:7].tz_localize("Asia/Dhaka")
ts2 = ts1[2:].tz_convert("Europe/Moscow")
result = ts1 + ts2
result.index

DatetimeIndex(['2012-03-07 03:30:00+00:00', '2012-03-08 03:30:00+00:00',
               '2012-03-09 03:30:00+00:00', '2012-03-12 03:30:00+00:00',
               '2012-03-13 03:30:00+00:00', '2012-03-14 03:30:00+00:00',
               '2012-03-15 03:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

## 11.5 Periods and Period Arithmetic

In [189]:
p = pd.Period("2011", "Y-DEC")
p

Period('2011', 'Y-DEC')

In [190]:
p + 5

Period('2016', 'Y-DEC')

In [191]:
p - 2

Period('2009', 'Y-DEC')

In [192]:
pd.Period("2014", freq="Y-DEC") - p

In [193]:
periods = pd.period_range("2000-01-01", "2000-06-30", freq="M")
periods

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]')

In [194]:
pd.Series(np.random.standard_normal(6), index=periods)

2000-01   -1.632812
2000-02    0.783402
2000-03    0.556462
2000-04   -0.124983
2000-05   -0.304017
2000-06   -1.376933
Freq: M, dtype: float64

In [195]:
values = ["2001Q3", "2002Q2", "2003Q1"]
index = pd.PeriodIndex(values, freq="Q-DEC")
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]')

### Period Frequency Conversion

In [196]:
p = pd.Period("2011", freq="Y-DEC")
p

Period('2011', 'Y-DEC')

In [197]:
p.asfreq("M", how="start")

Period('2011-01', 'M')

In [198]:
p.asfreq("M", how="end")

Period('2011-12', 'M')

In [199]:
# p.asfreq("B", how="start")

In [201]:
p = pd.Period("2011", "Y-JUN")
p

Period('2011', 'Y-JUN')

In [203]:
p.asfreq("M", how="start")

Period('2010-07', 'M')

In [204]:
p.asfreq("M", how="end")

Period('2011-06', 'M')

In [205]:
p = pd.Period("Aug-2011", "M")
p.asfreq("Y-JUN")

Period('2012', 'Y-JUN')

In [207]:
periods = pd.period_range("2006", "2009", freq="Y-DEC")
periods

PeriodIndex(['2006', '2007', '2008', '2009'], dtype='period[Y-DEC]')

In [208]:
ts = pd.Series(np.random.standard_normal(len(periods)), index=periods)
ts

2006    0.287550
2007   -0.545787
2008    0.399231
2009    2.263294
Freq: Y-DEC, dtype: float64

In [209]:
ts.asfreq("M", how="start")

2006-01    0.287550
2007-01   -0.545787
2008-01    0.399231
2009-01    2.263294
Freq: M, dtype: float64

In [211]:
ts.asfreq(freq="B", how="end")

C:\Users\sahor\AppData\Local\Temp\ipykernel_19904\1114802133.py:1: FutureWarning: PeriodDtype[B] is deprecated and will be removed in a future version. Use a DatetimeIndex with freq='B' instead
  ts.asfreq(freq="B", how="end")

2006-12-29    0.287550
2007-12-31   -0.545787
2008-12-31    0.399231
2009-12-31    2.263294
Freq: B, dtype: float64