### CHAPTER 11
# Time Series

In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.__version__

'2.3.3'

## 11.1 Date and Time Data Types and Tools

In [3]:
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2026, 1, 5, 10, 59, 24, 590340)

In [4]:
now.year, now.month, now.day, now.hour, now.minute, now.second

(2026, 1, 5, 10, 59, 24)

In [5]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(days=926, seconds=56700)

In [6]:
delta.days

926

In [7]:
delta.seconds

56700

In [8]:
from datetime import timedelta
start = datetime(2011, 1, 7)
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [9]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

### Converting Between String and Datetime

In [10]:
stamp = datetime(2011, 1, 3)
str(stamp)

'2011-01-03 00:00:00'

In [11]:
stamp.strftime("%Y-%m-%d")

'2011-01-03'

In [12]:
value = '2011-01-03'
datetime.strptime(value, "%Y-%m-%d")

datetime.datetime(2011, 1, 3, 0, 0)

In [13]:
datestrs = ["2011-07-06 12:00:00", "2011-08-06 00:00:00"]
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [14]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [15]:
idx[2]

NaT

In [16]:
pd.isna(idx)

array([False, False,  True])

## 11.2 Time Series Basics

In [18]:
data = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011, 1, 7),
        datetime(2011, 1, 8), datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [19]:
ts = pd.Series(np.random.standard_normal(6), index=data)
ts

2011-01-02    0.686802
2011-01-05    0.615765
2011-01-07   -0.665254
2011-01-08    0.419054
2011-01-10    0.037154
2011-01-12    0.581996
dtype: float64

In [20]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [21]:
ts + ts[::2]

2011-01-02    1.373605
2011-01-05         NaN
2011-01-07   -1.330508
2011-01-08         NaN
2011-01-10    0.074308
2011-01-12         NaN
dtype: float64

In [22]:
ts.index.dtype

dtype('<M8[ns]')

In [23]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

### Indexing, Selection, Subsetting

In [26]:
stamp = ts.index[2]
ts[stamp]

np.float64(-0.6652538170614055)

In [27]:
ts["2011-01-10"]

np.float64(0.03715405276525406)

In [28]:
longer_ts = pd.Series(np.random.standard_normal(1000),
                      index=pd.date_range("2000-01-01", periods=1000))
longer_ts

2000-01-01    0.763083
2000-01-02    0.736174
2000-01-03    1.010949
2000-01-04   -1.235652
2000-01-05    0.812804
                ...
2002-09-22   -0.525408
2002-09-23   -1.257927
2002-09-24   -2.074648
2002-09-25   -1.354127
2002-09-26   -0.560750
Freq: D, Length: 1000, dtype: float64

In [29]:
longer_ts["2001"]

2001-01-01    0.077010
2001-01-02   -0.271190
2001-01-03    0.179244
2001-01-04   -0.474653
2001-01-05   -0.368452
                ...
2001-12-27   -0.126101
2001-12-28   -0.393856
2001-12-29    0.347086
2001-12-30    0.261289
2001-12-31    0.925336
Freq: D, Length: 365, dtype: float64

In [30]:
longer_ts["2001-05"]

2001-05-01   -0.685823
2001-05-02   -0.087401
2001-05-03   -0.013198
2001-05-04   -0.567173
2001-05-05   -0.094982
2001-05-06    0.094741
2001-05-07    1.957550
2001-05-08   -1.311900
2001-05-09   -1.231507
2001-05-10   -0.122480
2001-05-11   -1.473423
2001-05-12   -1.216541
2001-05-13   -0.140242
2001-05-14    0.642299
2001-05-15   -0.589676
2001-05-16    0.395436
2001-05-17   -0.056088
2001-05-18   -1.046089
2001-05-19   -0.545139
2001-05-20   -0.220363
2001-05-21    0.369590
2001-05-22    0.095894
2001-05-23   -0.448387
2001-05-24    0.722357
2001-05-25    0.501808
2001-05-26   -0.520808
2001-05-27    0.608163
2001-05-28    0.251332
2001-05-29    0.393202
2001-05-30   -1.041843
2001-05-31   -1.101437
Freq: D, dtype: float64

In [31]:
ts[datetime(2011, 1, 7):datetime(2011, 1, 10)]

2011-01-07   -0.665254
2011-01-08    0.419054
2011-01-10    0.037154
dtype: float64

In [32]:
ts

2011-01-02    0.686802
2011-01-05    0.615765
2011-01-07   -0.665254
2011-01-08    0.419054
2011-01-10    0.037154
2011-01-12    0.581996
dtype: float64

In [33]:
ts["2011-01-06":"2011-01-11"]

2011-01-07   -0.665254
2011-01-08    0.419054
2011-01-10    0.037154
dtype: float64

In [34]:
ts.truncate(after="2011-01-09")

2011-01-02    0.686802
2011-01-05    0.615765
2011-01-07   -0.665254
2011-01-08    0.419054
dtype: float64

In [35]:
ts

2011-01-02    0.686802
2011-01-05    0.615765
2011-01-07   -0.665254
2011-01-08    0.419054
2011-01-10    0.037154
2011-01-12    0.581996
dtype: float64

In [37]:
dates = pd.date_range("2000-01-01", periods=100, freq="W-WED")
long_df = pd.DataFrame(np.random.standard_normal((100, 4)),
                       index=dates,
                       columns=["Colorado", "Texas", "New York", "Ohio"])
long_df.loc["2001-05"]

            Colorado     Texas  New York      Ohio
2001-05-02  0.795057  0.475415 -0.308392 -0.164934
2001-05-09  0.652124 -1.593630 -0.696386  0.656438
2001-05-16  0.644078 -1.119661  0.015888 -0.557119
2001-05-23 -1.098276 -1.711479 -1.145987 -1.428407
2001-05-30 -0.008496  1.640784  0.621176 -1.306965

### Time Series with Duplicate Indices

In [38]:
dates = pd.DatetimeIndex(["2000-01-01", "2000-01-02", "2000-01-02",
                          "2000-01-02", "2000-01-03"])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [39]:
dup_ts.index.is_unique

False

In [40]:
dup_ts["2000-01-03"]

np.int64(4)

In [41]:
dup_ts["2000-01-02"]

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [44]:
grouped = dup_ts.groupby(level=0)
grouped.mean()

2000-01-01    0.0
2000-01-02    2.0
2000-01-03    4.0
dtype: float64

In [45]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

## 11.3 Date Ranges, Frequencies, and Shifting

In [46]:
ts

2011-01-02    0.686802
2011-01-05    0.615765
2011-01-07   -0.665254
2011-01-08    0.419054
2011-01-10    0.037154
2011-01-12    0.581996
dtype: float64

In [48]:
resampler = ts.resample("D")  # The string "D" is interpreted as daily frequency.
resampler

In [49]:
resampler.mean()

2011-01-02    0.686802
2011-01-03         NaN
2011-01-04         NaN
2011-01-05    0.615765
2011-01-06         NaN
2011-01-07   -0.665254
2011-01-08    0.419054
2011-01-09         NaN
2011-01-10    0.037154
2011-01-11         NaN
2011-01-12    0.581996
Freq: D, dtype: float64