In [4]:
import pandas as pd
import numpy as np

# Reading and Writing Data

In [5]:
df = pd.read_csv("ch06/ex1.csv")
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
!cat ch06/ex1.csv

'cat' is not recognized as an internal or external command,
operable program or batch file.